name: plex_apps
x-default_container: &default_container
  network_mode: bridge
  security_opt: ['no-new-privileges:true']
  restart: unless-stopped
x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}
x-default_labels: &default_labels
  wud.tag.include: "^latest$"
  wud.watch.digest: "true"
services:
  agregarr:
    <<: *default_container
    image: agregarr/agregarr:latest
    container_name: agregarr
    environment:
      TZ: ${TZ}
    ports:
      - ${AGREGARR_PORT_7171}:7171 # Web GUI HTTP
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./agregarr:/app/config
      # Optional: For Coming Soon feature, mount media matching Radarr/Sonarr paths
      - ${DATA_DIR}/media/movies:/data/movies:ro # radarr
      - ${DATA_DIR}/media/movies-4K:/data/movies:ro # radarr-4K
      - ${DATA_DIR}/media/tv:/data/tv:ro # sonarr
      - ${DATA_DIR}/media/tv-kids:/data/tv-kids:ro # sonarr
      - ${DATA_DIR}/media/anime:/data/anime:ro # sonarr-anime
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:plex"
      wud.display.name: "agregarr"
  kometa:
    <<: *default_container
    image: ghcr.io/linuxserver/kometa:latest
    container_name: kometa
    environment:
      <<: *default_environment
      KOMETA_CONFIG: /config/config.yaml
      KOMETA_TIME: "10:00"
      KOMETA_RUN: false
      KOMETA_TEST: false
      KOMETA_NO_MISSING: false
      FILE__KOMETA_PLEXURL: /run/secrets/plex_URL
      FILE__KOMETA_PLEXTOKEN: /run/secrets/plex_Token
      KOMETA_TAUTULLIURL: "http://${HOST}:${TAUTULLI_PORT_8181}"
      FILE__KOMETA_TAUTULLIAPIKEY: /run/secrets/tautulli_API
      FILE__KOMETA_ANIDBCLIENT: /run/secrets/external_AniDBClientID
      FILE__KOMETA_ANIDBUSERNAME: /run/secrets/common_Username
      FILE__KOMETA_ANIDBPASSWORD: /run/secrets/external_AniDBPassword
      FILE__KOMETA_MALCLIENTID: /run/secrets/external_MALClientID
      FILE__KOMETA_MALCLIENTSECRET: /run/secrets/external_MALClientSecret
      FILE__KOMETA_MALLOCALHOSTURL: /run/secrets/external_MALLocalHostURL
      FILE__KOMETA_MALACCESSTOKEN: /run/secrets/external_MALAccessToken
      FILE__KOMETA_MALREFRESHTOKEN: /run/secrets/external_MALRefreshToken
      FILE__KOMETA_MDBLISTAPIKEY: /run/secrets/external_MDBListAPI
      FILE__KOMETA_TMBDAPIKEY: /run/secrets/external_TMBDAPI
      FILE__KOMETA_TRAKTCLIENTID: /run/secrets/external_TraktClientID
      FILE__KOMETA_TRAKTCLIENTSECRET: /run/secrets/external_TraktClientSecret
      FILE__KOMETA_TRAKTACCESSTOKEN: /run/secrets/external_TraktAccessToken
      FILE__KOMETA_TRAKTREFRESHTOKEN: /run/secrets/external_TraktRefreshToken
    volumes:
      - ./kometa:/config
    secrets:
      - common_Username
      - plex_URL
      - plex_Token
      - tautulli_API
      - external_AniDBClientID
      - external_AniDBPassword
      - external_MALClientID
      - external_MALClientSecret
      - external_MALLocalHostURL
      - external_MALAccessToken
      - external_MALRefreshToken
      - external_MDBListAPI
      - external_TMBDAPI
      - external_TraktClientID
      - external_TraktClientSecret
      - external_TraktAccessToken
      - external_TraktRefreshToken
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:plex"
      wud.display.name: "kometa"
  plexautolanguages:
    <<: *default_container
    image: journeyover/plex-auto-languages:latest
    container_name: plexautolanguages
    environment:
      PLEX_URL: ${PLEXAUTOLANGUAGES_PLEXURL}
      PLEX_TOKEN_FILE: /run/secrets/plex_Token
      TZ: ${TZ}
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./plexautolanguages:/config
    secrets:
      - plex_Token
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:plex"
  quickstart:
    <<: *default_container
    image: kometateam/quickstart:latest
    container_name: quickstart
    depends_on:
      - kometa
    environment:
      <<: *default_environment
    ports:
      - ${QUICKSTART_PORT_7171}:7171 # Web GUI HTTP
    volumes:
      - ./quickstart:/config
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:plex"
  tautulli:
    <<: *default_container
    image: ghcr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      <<: *default_environment
    ports:
      - ${TAUTULLI_PORT_8181}:8181 # Web GUI HTTP
    volumes:
      - ./tautulli:/config
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:plex"
      wud.display.name: "quickstart"
  wizarr:
    <<: *default_container
    image: ghcr.io/wizarrrr/wizarr:latest
    container_name: wizarr
    environment:
      <<: *default_environment
      DISABLE_BUILTIN_AUTH: false
    ports:
      - ${WIZARR_PORT_5690}:5690 # Web GUI HTTP
    volumes:
      - ./wizarr/database:/data/database
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:plex"
      wud.display.name: "wizarr"
secrets:
  common_Username:
    file: ${SECRETS_DIR}/common_Username.txt
  plex_URL:
    file: ${SECRETS_DIR}/plex_URL.txt
  plex_Token:
    file: ${SECRETS_DIR}/plex_Token.txt
  tautulli_API:
    file: ${SECRETS_DIR}/tautulli_API.txt
  external_AniDBClientID:
    file: ${SECRETS_DIR}/external_AniDBClientID.txt
  external_AniDBPassword:
    file: ${SECRETS_DIR}/external_AniDBPassword.txt
  external_MALClientID:
    file: ${SECRETS_DIR}/external_MALClientID.txt
  external_MALClientSecret:
    file: ${SECRETS_DIR}/external_MALClientSecret.txt
  external_MALLocalHostURL:
    file: ${SECRETS_DIR}/external_MALLocalHostURL.txt
  external_MALAccessToken:
    file: ${SECRETS_DIR}/external_MALAccessToken.txt
  external_MALRefreshToken:
    file: ${SECRETS_DIR}/external_MALRefreshToken.txt
  external_MDBListAPI:
    file: ${SECRETS_DIR}/external_MDBListAPI.txt
  external_TMBDAPI:
    file: ${SECRETS_DIR}/external_TMBDAPI.txt
  external_TraktClientID:
    file: ${SECRETS_DIR}/external_TraktClientID.txt
  external_TraktClientSecret:
    file: ${SECRETS_DIR}/external_TraktClientSecret.txt
  external_TraktAccessToken:
    file: ${SECRETS_DIR}/external_TraktAccessToken.txt
  external_TraktRefreshToken:
    file: ${SECRETS_DIR}/external_TraktRefreshToken.txt
