name: media_apps
x-default_container: &default_container
  network_mode: bridge
  security_opt: ['no-new-privileges:true']
  restart: unless-stopped
x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}
x-default_labels: &default_labels
  wud.tag.include: "^latest$"
  wud.watch.digest: "true"
services:
  calibre:
    <<: *default_container
    image: ghcr.io/linuxserver/calibre:latest
    container_name: calibre
    environment:
      <<: *default_environment
    ports:
      - ${CALIBRE_PORT_8080}:8080 # Web GUI HTTP (only for reverse proxy access)
      - ${CALIBRE_PORT_8181}:8181 # Web GUI HTTPS
      - ${CALIBRE_PORT_8081}:8081 # Server Connection, configured in Web GUI settings
    volumes:
      - ./calibre:/config
      - ${DATA_DIR}/media/books:/books
    labels:
      <<: *default_labels
      wud.display.icon: "si:calibreweb"
      wud.display.name: "calibre"
  calibre-web:
    <<: *default_container
    image: ghcr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      <<: *default_environment
      OAUTHLIB_RELAX_TOKEN_SCOPE: "1"
    ports:
      - ${CALIBREWEB_PORT_8083}:8083 # Web GUI HTTP
    volumes:
      - ./calibre-web:/config
      - ${DATA_DIR}/media/books:/books
    labels:
      <<: *default_labels
      wud.display.icon: "si:calibreweb"
      wud.display.name: "calibre-web"
  romm:
    <<: *default_container
    image: rommapp/romm:latest
    container_name: romm
    depends_on:
      - romm-db
    environment:
      TZ: ${TZ}
      DB_HOST: ${HOST}
      DB_USER: romm-user
      DB_PASSWD_FILE: /run/secrets/romm-db_MySQLPassword
      ROMM_AUTH_SECRET_KEY_FILE: /run/secrets/romm_AuthSecretKey
      IGDB_CLIENT_ID_FILE: /run/secrets/external_IGDBClientID
      IGDB_CLIENT_SECRET_FILE: /run/secrets/external_IGDBClientSecret
      STEAMGRIDDB_API_KEY_FILE: /run/secrets/external_SteamGrimDBAPI
    ports:
      - ${ROMM_PORT_8080}:8080 # Web GUI HTTP
    secrets:
      - external_IGDBClientID
      - external_IGDBClientSecret
      - romm_AuthSecretKey
      - external_SteamGrimDBAPI
      - romm-db_MySQLPassword
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./romm/assets:/romm/assets
      - ./romm/config:/romm/config
      - ./romm/redis-data:/redis-data
      - ./romm/resources:/romm/resources
      - ${DATA_DIR}/media/emulation:/romm/library
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:controller"
      wud.display.name: "romm"
  romm-db:
    <<: *default_container
    image: ghcr.io/linuxserver/mariadb:latest
    container_name: romm-db
    environment:
      <<: *default_environment
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/romm-db_MySQLPassword
      MYSQL_DATABASE: romm
      MYSQL_USER: romm-user
      MYSQL_PASSWORD_FILE: /run/secrets/romm-db_MySQLPassword
    ports:
      - ${ROMMDB_PORT_3306}:3306 # DB Connection
    secrets:
      - romm-db_MySQLPassword
    volumes:
      - ./romm-db:/config
    labels:
      <<: *default_labels
      wud.display.icon: "si:mariadb"
      wud.display.name: "romm-db"
secrets:
  external_IGDBClientID:
    file: ${SECRETS_DIR}/external_IGDBClientID.txt
  external_IGDBClientSecret:
    file: ${SECRETS_DIR}/external_IGDBClientSecret.txt
  romm_AuthSecretKey:
    file: ${SECRETS_DIR}/romm_AuthSecretKey.txt
  external_SteamGrimDBAPI:
    file: ${SECRETS_DIR}/external_SteamGrimDBAPI.txt
  romm-db_MySQLPassword:
    file: ${SECRETS_DIR}/romm-db_MySQLPassword.txt
