name: media_apps

############################## ANCHORS SECTION ##############################
x-default_container: &default_container
  networks: ["default"]
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped

x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}

############################## SERVICES SECTION ##############################
services:

  audiobookshelf:
    <<: *default_container
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    environment:
      TZ: ${TZ}
      PORT: "8080" # Leaving port at default value 80 causes an error when running as non-root user
    ports:
      - ${AUDIOBOOKSHELF_PORT_8080}:8080 # Web GUI HTTP
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ${DOCKER_DIR}/media_apps/audiobookshelf/config:/config
      - ${DOCKER_DIR}/media_apps/audiobookshelf/metadata:/metadata
      - ${DATA_DIR}/media/books:/books
      - ${DATA_DIR}/media/audiobooks:/audiobooks
      - ${DATA_DIR}/media/podcasts:/podcasts

  calibre:
    <<: *default_container
    image: ghcr.io/linuxserver/calibre:latest
    container_name: calibre
    environment:
      <<: *default_environment
    ports:
      - ${CALIBRE_PORT_8080}:8080 # Web GUI HTTP (only for reverse proxy access)
      - ${CALIBRE_PORT_8181}:8181 # Web GUI HTTPS
      - ${CALIBRE_PORT_8081}:8081 # Server Connection, configured in Web GUI settings
    volumes:
      - ${DOCKER_DIR}/media_apps/calibre:/config
      - ${DATA_DIR}/media/books:/books
      - ${DATA_DIR}/usenet/completed/books:/downloads

  romm:
    <<: *default_container
    image: ghcr.io/rommapp/romm:latest
    container_name: romm
    depends_on:
      romm_database:
        condition: service_started
        restart: true
    environment:
      TZ: ${TZ}
      # database
      DB_HOST: romm_database
      DB_NAME: romm
      DB_USER: romm-user
      DB_PASSWD_FILE: /run/secrets/romm_database_MySQLPassword
      ROMM_AUTH_SECRET_KEY_FILE: /run/secrets/romm_AuthSecretKey
      # OIDC
      OIDC_ENABLED: true
      OIDC_PROVIDER: authentik
      OIDC_CLIENT_ID_FILE: /run/secrets/authentik_rommClientID
      OIDC_CLIENT_SECRET_FILE: /run/secrets/authentik_rommClientSecret
      OIDC_REDIRECT_URI: https://romm.${HOST_DSM_PUBLIC_DNS_SUFFIX}/api/oauth/openid
      OIDC_SERVER_APPLICATION_URL: https://authentik.${HOST_DSM_PUBLIC_DNS_SUFFIX}/application/o/romm
      # metadata providers
      IGDB_CLIENT_ID_FILE: /run/secrets/external_IGDBClientID
      IGDB_CLIENT_SECRET_FILE: /run/secrets/external_IGDBClientSecret
      # SCREENSCRAPER_USER:
      # SCREENSCRAPER_PASSWORD:
      # MOBYGAMES_API_KEY:
      STEAMGRIDDB_API_KEY_FILE: /run/secrets/external_SteamGrimDBAPI
      # RETROACHIEVEMENTS_API_KEY:
      # REFRESH_RETROACHIEVEMENTS_CACHE_DAYS:
      LAUNCHBOX_API_ENABLED: true
      PLAYMATCH_API_ENABLED: true
      HASHEOUS_API_ENABLED: true
      FLASHPOINT_API_ENABLED: true
      HLTB_API_ENABLED: true
    networks:
      - default
      - romm_internal
    ports:
      - ${ROMM_PORT_8080}:8080 # Web GUI HTTP
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ${DOCKER_DIR}/media_apps/romm/assets:/romm/assets
      - ${DOCKER_DIR}/media_apps/romm/config:/romm/config
      - ${DOCKER_DIR}/media_apps/romm/redis-data:/redis-data
      - ${DOCKER_DIR}/media_apps/romm/resources:/romm/resources
      - ${DATA_DIR}/media/emulation:/romm/library
    secrets:
      - authentik_rommClientID
      - authentik_rommClientSecret
      - external_IGDBClientID
      - external_IGDBClientSecret
      - romm_AuthSecretKey
      - external_SteamGrimDBAPI
      - romm_database_MySQLPassword

  romm_database:
    <<: *default_container
    image: ghcr.io/linuxserver/mariadb:latest
    container_name: romm_database
    environment:
      <<: *default_environment
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/romm_database_MySQLPassword
      MYSQL_DATABASE: romm
      MYSQL_USER: romm-user
      MYSQL_PASSWORD_FILE: /run/secrets/romm_database_MySQLPassword
    networks:
      - romm_internal
    ports:
      - ${ROMM_DATABASE_PORT_3306}:3306 # DB Connection
    volumes:
      - ${DOCKER_DIR}/media_apps/romm/database:/config
    secrets:
      - romm_database_MySQLPassword

############################## NETWORKS SECTION ##############################
networks:
  default:
  romm_internal:
    internal: true

############################## SECRETS SECTION ##############################
secrets:
  authentik_rommClientID:
    file: ${SECRETS_DIR}/authentik_rommClientID.txt
  authentik_rommClientSecret:
    file: ${SECRETS_DIR}/authentik_rommClientSecret.txt
  external_IGDBClientID:
    file: ${SECRETS_DIR}/external_IGDBClientID.txt
  external_IGDBClientSecret:
    file: ${SECRETS_DIR}/external_IGDBClientSecret.txt
  romm_AuthSecretKey:
    file: ${SECRETS_DIR}/romm_AuthSecretKey.txt
  external_SteamGrimDBAPI:
    file: ${SECRETS_DIR}/external_SteamGrimDBAPI.txt
  romm_database_MySQLPassword:
    file: ${SECRETS_DIR}/romm_database_MySQLPassword.txt
