name: access_management

############################## ANCHORS SECTION ##############################
x-default_container: &default_container
  networks: ["default"]
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped

x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}

############################## SERVICES SECTION ##############################
services:

  authentik_database:
    <<: *default_container
    image: postgres:16-alpine
    container_name: authentik_database
    environment:
      TZ: ${TZ}
      POSTGRES_DB: authentik
      POSTGRES_USER: authentik
      POSTGRES_PASSWORD: file:///run/secrets/authentik_DatabasePassword
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD-SHELL", "pg_isready -d authentik -U authentik"]
      timeout: 5s
    networks:
      - authentik_internal
    volumes:
      - ${DOCKER_DIR}/access_management/authentik/database:/var/lib/postgresql/data
    secrets:
      - authentik_DatabasePassword

  authentik_server:
    <<: *default_container
    image: ghcr.io/goauthentik/server:2025.10.3
    container_name: authentik_server
    command: server
    depends_on:
      authentik_database:
        condition: service_healthy
        restart: true
    environment: &authentik_common
      TZ: ${TZ}
      AUTHENTIK_POSTGRESQL__HOST: authentik_database
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/authentik_DatabasePassword
      AUTHENTIK_SECRET_KEY: file:///run/secrets/authentik_SecretKey
    networks:
      - default
      - authentik_internal
    ports:
      - ${AUTHENTIK_PORT_9000}:9000 # Web GUI HTTP
      - ${AUTHENTIK_PORT_9443}:9443 # Web GUI HTTPS
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ${DOCKER_DIR}/access_management/authentik/media:/media
      - ${DOCKER_DIR}/access_management/authentik/custom-templates:/templates
    secrets:
      - authentik_DatabasePassword
      - authentik_SecretKey

  authentik_worker:
    <<: *default_container
    image: ghcr.io/goauthentik/server:2025.10.3
    container_name: authentik_worker
    command: worker
    depends_on:
      authentik_database:
        condition: service_healthy
        restart: true
      authentik_server:
        condition: service_healthy
        restart: true
    environment:
      <<: *authentik_common
      AUTHENTIK_EMAIL__HOST: smtp.gmail.com
      AUTHENTIK_EMAIL__PORT: 587
      AUTHENTIK_EMAIL__USERNAME: file:///run/secrets/common_EmailAddress
      AUTHENTIK_EMAIL__PASSWORD: file:///run/secrets/authentik_SMTPPassword
      AUTHENTIK_EMAIL__USE_TLS: true
      AUTHENTIK_EMAIL__USE_SSL: false
      AUTHENTIK_EMAIL__TIMEOUT: 10
      AUTHENTIK_EMAIL__FROM: file:///run/secrets/common_EmailAddress
    networks:
      - default
      - authentik_internal
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ${DOCKER_DIR}/access_management/authentik/media:/media
      - ${DOCKER_DIR}/access_management/authentik/certs:/certs
      - ${DOCKER_DIR}/access_management/authentik/custom-templates:/templates
    secrets:
      - common_EmailAddress
      - authentik_DatabasePassword
      - authentik_SMTPPassword
      - authentik_SecretKey

  wizarr:
    <<: *default_container
    image: ghcr.io/wizarrrr/wizarr:latest
    container_name: wizarr
    environment:
      <<: *default_environment
      DISABLE_BUILTIN_AUTH: true
    ports:
      - ${WIZARR_PORT_5690}:5690 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/access_management/wizarr/database:/data/database

############################## NETWORKS SECTION ##############################
networks:
  default:
  authentik_internal:
    internal: true

############################## SECRETS SECTION ##############################
secrets:
  common_EmailAddress:
    file: ${SECRETS_DIR}/common_EmailAddress.txt
  authentik_DatabasePassword:
    file: ${SECRETS_DIR}/authentik_DatabasePassword.txt
  authentik_SMTPPassword:
    file: ${SECRETS_DIR}/authentik_SMTPPassword.txt
  authentik_SecretKey:
    file: ${SECRETS_DIR}/authentik_SecretKey.txt
