name: media_management

############################## ANCHORS SECTION ##############################
x-default_container: &default_container
  networks: ["default"]
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped

x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}

############################## SERVICES SECTION ##############################
services:

  audiobookrequest:
    <<: *default_container
    image: markbeep/audiobookrequest:latest
    container_name: audiobookrequest
    environment:
      TZ: ${TZ}
      ABR_APP__FORCE_LOGIN_TYPE: oidc
    ports:
      - ${AUDIOBOOKREQUEST_PORT_8000}:8000 # Web GUI HTTP
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ${DOCKER_DIR}/media_management/audiobookrequest:/config

  lidarr:
    <<: *default_container
    image: ghcr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      <<: *default_environment
      DOCKER_MODS: ghcr.io/themepark-dev/theme.park:lidarr
      TP_ADDON: lidarr-darker
    ports:
      - ${LIDARR_PORT_8686}:8686 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/lidarr:/config
      - ${DATA_DIR}/usenet:/downloads
      - ${DATA_DIR}/media/music:/music
      - ${DATA_DIR}/trash/lidarr:/recycle

  overseerr:
    <<: *default_container
    image: ghcr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      <<: *default_environment
    ports:
      - ${OVERSEERR_PORT_5055}:5055 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/overseerr:/config

  prowlarr:
    <<: *default_container
    image: ghcr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      <<: *default_environment
      DOCKER_MODS: ghcr.io/themepark-dev/theme.park:prowlarr
      TP_ADDON: prowlarr-text-logo|prowlarr-darker
    ports:
      - ${PROWLARR_PORT_9696}:9696 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/prowlarr:/config

  radarr:
    <<: *default_container
    image: ghcr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      <<: *default_environment
      DOCKER_MODS: ghcr.io/themepark-dev/theme.park:radarr
      TP_ADDON: radarr-darker
    ports:
      - ${RADARR_PORT_7878}:7878 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/radarr:/config
      - ${DATA_DIR}/usenet:/downloads
      - ${DATA_DIR}/media/movies:/movies
      - ${DATA_DIR}/trash/radarr:/recycle

  radarr-4K:
    <<: *default_container
    image: ghcr.io/linuxserver/radarr:latest
    container_name: radarr-4K
    environment:
      <<: *default_environment
      DOCKER_MODS: ghcr.io/themepark-dev/theme.park:radarr
      TP_ADDON: radarr-4k-logo|radarr-4k-favicon|radarr-darker
    ports:
      - ${RADARR4K_PORT_7878}:7878 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/radarr-4K:/config
      - ${DATA_DIR}/usenet:/downloads
      - ${DATA_DIR}/media/movies-4K:/movies
      - ${DATA_DIR}/trash/radarr-4K:/recycle

  recyclarr:
    <<: *default_container
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    environment:
      TZ: ${TZ}
      RADARR_URL: http://${HOST_DSM_HOSTNAME}:${RADARR_PORT_7878}
      RADARR4K_URL: http://${HOST_DSM_HOSTNAME}:${RADARR4K_PORT_7878}
      SONARR_URL: http://${HOST_DSM_HOSTNAME}:${SONARR_PORT_8989}
      SONARRANIME_URL: http://${HOST_DSM_HOSTNAME}:${SONARRANIME_PORT_8989}
      APPRISE_URL: http://${HOST_DSM_HOSTNAME}:${APPRISE_PORT_8000}
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ${DOCKER_DIR}/media_management/recyclarr:/config
    secrets:
      - radarr_API
      - radarr-4k_API
      - sonarr_API
      - sonar-anime_API
      - gotify_recyclarrURL

  sabnzbd:
    <<: *default_container
    image: ghcr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      <<: *default_environment
    ports:
      - ${SABNZBD_PORT_8080}:8080 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/sabnzbd:/config
      - ${DATA_DIR}/usenet:/downloads

  sonarr:
    <<: *default_container
    image: ghcr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      <<: *default_environment
      DOCKER_MODS: ghcr.io/themepark-dev/theme.park:sonarr
      TP_ADDON: sonarr-text-logo|sonarr-darker
    ports:
      - ${SONARR_PORT_8989}:8989 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/sonarr:/config
      - ${DATA_DIR}/usenet:/downloads
      - ${DATA_DIR}/media/tv:/tv
      - ${DATA_DIR}/media/tv-kids:/tv-kids
      - ${DATA_DIR}/trash/sonarr:/recycle

  sonarr-anime:
    <<: *default_container
    image: ghcr.io/linuxserver/sonarr:latest
    container_name: sonarr-anime
    environment:
      <<: *default_environment
      DOCKER_MODS: ghcr.io/themepark-dev/theme.park:sonarr
      TP_ADDON: sonarr-anime-text-logo|sonarr-anime-favicon|sonarr-darker
    networks:
      - default
    ports:
      - ${SONARRANIME_PORT_8989}:8989 # Web GUI HTTP
    volumes:
      - ${DOCKER_DIR}/media_management/sonarr-anime:/config
      - ${DATA_DIR}/usenet:/downloads
      - ${DATA_DIR}/media/anime:/anime
      - ${DATA_DIR}/trash/sonarr-anime:/recycle

############################## NETWORKS SECTION ##############################
networks:
  default:

############################## SECRETS SECTION ##############################
secrets:
  radarr_API:
    file: ${SECRETS_DIR}/radarr_API.txt
  radarr-4k_API:
    file: ${SECRETS_DIR}/radarr-4k_API.txt
  sonarr_API:
    file: ${SECRETS_DIR}/sonarr_API.txt
  sonar-anime_API:
    file: ${SECRETS_DIR}/sonar-anime_API.txt
  gotify_recyclarrURL:
    file: ${SECRETS_DIR}/gotify_recyclarrURL.txt
