name: general_apps

x-default_container: &default_container
  networks: ["default"]
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped
x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}
x-default_labels: &default_labels
  wud.tag.include: "^latest$"
  wud.watch.digest: "true"

services:
  gotify:
    <<: *default_container
    image: ghcr.io/gotify/server:latest
    container_name: gotify
    environment:
      GOTIFY_SERVER_PORT: "8080"
    ports:
      - ${GOTIFY_PORT_8080}:8080
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./gotify:/app/data
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:bell"
      wud.display.name: "gotify"

  homepage:
    <<: *default_container
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      <<: *default_environment
      HOMEPAGE_ALLOWED_HOSTS: ${HOST_DSM_HOSTNAME}:${HOMEPAGE_PORT_3000},homepage.${HOST_DSM_PUBLIC_DNS_SUFFIX} # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
      # common
      HOMEPAGE_FILE_COMMON_USERNAME: /run/secrets/common_Username
      HOMEPAGE_VAR_PUBLIC_DNS_SUFFIX: ${HOST_DSM_PUBLIC_DNS_SUFFIX}
      HOMEPAGE_VAR_TZ: ${TZ}
      # synology
      HOMEPAGE_FILE_SYNOLOGY_USERNAME: /run/secrets/synology_Username
      HOMEPAGE_FILE_SYNOLOGY_PASSWORD: /run/secrets/synology_Password
      # bookmarks
      HOMEPAGE_VAR_NAS_URL: "https://${HOST_DSM_HOSTNAME}:${HOST_DSM_HTTPS_PORT}"
      # access_management
      HOMEPAGE_VAR_AUTHENTIK_URL: https://${HOST_DSM_HOSTNAME}:${AUTHENTIK_PORT_9443}
      HOMEPAGE_FILE_AUTHENTIK_API: /run/secrets/authentik_API
      HOMEPAGE_VAR_WIZARR_URL: "http://${HOST_DSM_HOSTNAME}:${WIZARR_PORT_5690}"
      # container_management
      HOMEPAGE_VAR_PORTAINER_URL: "http://${HOST_DSM_HOSTNAME}:${PORTAINER_PORT_9000}"
      HOMEPAGE_FILE_PORTAINER_API: /run/secrets/portainer_API
      HOMEPAGE_VAR_WUD_URL: "http://${HOST_DSM_HOSTNAME}:${WUD_PORT_3000}"
      HOMEPAGE_FILE_WUD_PASSWORD: /run/secrets/wud_Password
      # general_apps
      HOMEPAGE_VAT_GOTIFY_URL: "http://${HOST_DSM_HOSTNAME}:${GOTIFY_PORT_8080}"
      HOMEPAGE_FILE_GOTIFY_HOMEPAGE_TOKEN: /run/secrets/gotify_homepageToken
      HOMEPAGE_VAR_LIBRESPEED_URL: "http://${HOST_DSM_HOSTNAME}:${LIBRESPEED_PORT_80}"
      # media_apps
      HOMEPAGE_VAR_AUDIOBOOKSHELF_URL: http://${HOST_DSM_HOSTNAME}:${AUDIOBOOKSHELF_PORT_8080}
      HOMEPAGE_FILE_AUDIOBOOKSHELF_API: /run/secrets/audiobookshelf_API
      HOMEPAGE_VAR_CALIBRE_URL: https://${HOST_DSM_HOSTNAME}:${CALIBRE_PORT_8181}
      HOMEPAGE_VAR_CALIBREWEB_URL: http://${HOST_DSM_HOSTNAME}:${CALIBREWEB_PORT_8083}
      HOMEPAGE_FILE_CALIBREWEB_PASSWORD: /run/secrets/calibre-web_Password
      HOMEPAGE_VAR_ROMM_URL: http://${HOST_DSM_HOSTNAME}:${ROMM_PORT_8080}
      # media_management
      HOMEPAGE_VAR_AUDIOBOOKREQUEST_URL: http://${HOST_DSM_HOSTNAME}:${AUDIOBOOKREQUEST_PORT_8000}
      HOMEPAGE_VAR_LIDARR_URL: http://${HOST_DSM_HOSTNAME}:${LIDARR_PORT_8686}
      HOMEPAGE_FILE_LIDARR_API: /run/secrets/lidarr_API
      HOMEPAGE_VAR_PROWLARR_URL: http://${HOST_DSM_HOSTNAME}:${PROWLARR_PORT_9696}
      HOMEPAGE_FILE_PROWLARR_API: /run/secrets/prowlarr_API
      HOMEPAGE_VAR_OVERSEERR_URL: http://${HOST_DSM_HOSTNAME}:${OVERSEERR_PORT_5055}
      HOMEPAGE_FILE_OVERSEERR_API: /run/secrets/overseer_API
      HOMEPAGE_VAR_RADARR_URL: http://${HOST_DSM_HOSTNAME}:${RADARR_PORT_7878}
      HOMEPAGE_FILE_RADARR_API: /run/secrets/radarr_API
      HOMEPAGE_VAR_RADARR4K_URL: http://${HOST_DSM_HOSTNAME}:${RADARR4K_PORT_7878}
      HOMEPAGE_FILE_RADARR4K_API: /run/secrets/radarr-4k_API
      HOMEPAGE_VAR_SABNZBD_URL: http://${HOST_DSM_HOSTNAME}:${SABNZBD_PORT_8080}
      HOMEPAGE_FILE_SABNZBD_API: /run/secrets/sabnzbd_API
      HOMEPAGE_VAR_SONARR_URL: http://${HOST_DSM_HOSTNAME}:${SONARR_PORT_8989}
      HOMEPAGE_FILE_SONARR_API: /run/secrets/sonarr_API
      HOMEPAGE_VAR_SONARRANIME_URL: http://${HOST_DSM_HOSTNAME}:${SONARRANIME_PORT_8989}
      HOMEPAGE_FILE_SONARRANIME_API: /run/secrets/sonar-anime_API
      # network_apps
      HOMEPAGE_VAR_PIHOLE_URL: https://${HOST_DSM_HOSTNAME}:${PIHOLE_PORT_443}
      HOMEPAGE_FILE_PIHOLE_API: /run/secrets/pihole_API
      # plex_apps
      HOMEPAGE_FILE_PLEX_URL: /run/secrets/plex_URL
      HOMEPAGE_FILE_PLEX_TOKEN: /run/secrets/plex_Token
      HOMEPAGE_VAR_AGREGARR_URL: "http://${HOST_DSM_HOSTNAME}:${AGREGARR_PORT_7171}"
      HOMEPAGE_VAR_QUICKSTART_URL: "http://${HOST_DSM_HOSTNAME}:${QUICKSTART_PORT_7171}"
      HOMEPAGE_VAR_SHINKRO_URL: "http://${HOST_DSM_HOSTNAME}:${SHINKRO_PORT_7011}"
      HOMEPAGE_VAR_TAUTULLI_URL: "http://${HOST_DSM_HOSTNAME}:${TAUTULLI_PORT_8181}"
      HOMEPAGE_FILE_TAUTULLI_API: /run/secrets/tautulli_API
    networks:
      - default
      - homepage_internal
    ports:
      - ${HOMEPAGE_PORT_3000}:3000 # Web GUI HTTP
    volumes:
      - ./homepage/config:/app/config
      - ./homepage/images:/app/public/images # Used to add background image and favicon
      - ./homepage/icons:/app/public/icons # Used to add service icons
    secrets:
      # common
      - common_Username
      # synology
      - synology_Username
      - synology_Password
      # access_management
      - authentik_API
      # general_apps
      - gotify_homepageToken
      # container_management
      - portainer_API
      - wud_Password
      # media_apps
      - audiobookshelf_API
      - calibre-web_Password
      # media_management
      - lidarr_API
      - overseer_API
      - prowlarr_API
      - radarr_API
      - radarr-4k_API
      - sabnzbd_API
      - sonarr_API
      - sonar-anime_API
      # network_apps
      - pihole_API
      # plex_apps
      - plex_URL
      - plex_Token
      - tautulli_API
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:view-dashboard"
      wud.display.name: "homepage"

  homepage-socket-proxy:
    <<: *default_container
    image: ghcr.io/linuxserver/socket-proxy:latest
    container_name: homepage-socket-proxy
    hostname: socket-proxy
    environment:
      TZ: ${TZ}
      # API access controls (1 to grant, 0 to revoke)
      CONTAINERS: "1" # Allow listing and managing containers (essential for Portainer)
    networks:
      - homepage_internal
    read_only: true
    tmpfs:
      - /run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      <<: *default_labels
      wud.display.name: "homepage-socket-proxy"
      wud.trigger.exclude: "docker.update" # Prevents WUD from updating it, manually clean and rebuild project

  librespeed:
    <<: *default_container
    image: ghcr.io/linuxserver/librespeed:latest
    container_name: librespeed
    environment:
      <<: *default_environment
      DOCKER_MODS: ghcr.io/themepark-dev/theme.park:librespeed
      TP_THEME: dark
    ports:
      - ${LIBRESPEED_PORT_80}:80 # Web GUI HTTP
      - ${LIBRESPEED_PORT_443}:443 # Web GUI HTTPS
    volumes:
      - ./librespeed:/config
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:speedometer"
      wud.display.name: "librespeed"

  theme-park:
    <<: *default_container
    image: ghcr.io/themepark-dev/theme.park:latest
    container_name: theme-park
    environment:
      <<: *default_environment
    ports:
      - ${THEMEPARK_PORT_80}:80 # Web GUI HTTP
      - ${THEMEPARK_PORT_443}:443 # Web GUI HTTPS
    volumes:
      - ./theme-park:/config
    labels:
      <<: *default_labels
      wud.display.icon: "mdi:brush"
      wud.display.name: "theme-park"

networks:
  default:
  homepage_internal:
    internal: true

secrets:
  # homepage common
  common_Username:
    file: ${SECRETS_DIR}/common_Username.txt
  # homepage synology
  synology_Username:
    file: ${SECRETS_DIR}/synology_Username.txt
  synology_Password:
    file: ${SECRETS_DIR}/synology_Password.txt
  # homepage access_management
  authentik_API:
    file: ${SECRETS_DIR}/authentik_API.txt
  # homepage general_apps
  gotify_homepageToken:
    file: ${SECRETS_DIR}/gotify_homepageToken.txt
  # homepage container_management
  portainer_API:
    file: ${SECRETS_DIR}/portainer_API.txt
  wud_Password:
    file: ${SECRETS_DIR}/wud_Password.txt
  # homepage media_apps
  audiobookshelf_API:
    file: ${SECRETS_DIR}/audiobookshelf_API.txt
  calibre-web_Password:
    file: ${SECRETS_DIR}/calibre-web_Password.txt
  # homepage media_management
  lidarr_API:
    file: ${SECRETS_DIR}/lidarr_API.txt
  overseer_API:
    file: ${SECRETS_DIR}/overseer_API.txt
  prowlarr_API:
    file: ${SECRETS_DIR}/prowlarr_API.txt
  radarr_API:
    file: ${SECRETS_DIR}/radarr_API.txt
  radarr-4k_API:
    file: ${SECRETS_DIR}/radarr-4k_API.txt
  sabnzbd_API:
    file: ${SECRETS_DIR}/sabnzbd_API.txt
  sonarr_API:
    file: ${SECRETS_DIR}/sonarr_API.txt
  sonar-anime_API:
    file: ${SECRETS_DIR}/sonar-anime_API.txt
  # homepage network_apps
  pihole_API:
    file: ${SECRETS_DIR}/pihole_API.txt
  # homepage plex_apps
  plex_URL:
    file: ${SECRETS_DIR}/plex_URL.txt
  plex_Token:
    file: ${SECRETS_DIR}/plex_Token.txt
  tautulli_API:
    file: ${SECRETS_DIR}/tautulli_API.txt
