name: network_apps
x-default_container: &default_container
  networks: ["default"]
  restart: unless-stopped
# x-default_environment: &default_environment
#   PGID: ${DOCKER_GID}
#   PUID: ${DOCKER_UID}
#   TZ: ${TZ}
x-default_labels: &default_labels
  wud.tag.include: "^latest$"
  wud.watch.digest: "true"
services:
  pihole:
    <<: *default_container
    image: pihole/pihole:latest
    container_name: pihole
    environment:
      # Config located at /etc/pihole/pihole.toml
      PIHOLE_GID: ${DOCKER_GID}
      PIHOLE_UID: ${DOCKER_UID}
      TZ: ${TZ}
      WEBPASSWORD_FILE: /run/secrets/pihole_WebServerAPIPassword
      FTLCONF_dns_listeningMode: all
    ports:
      - 53:53/tcp # DNS
      - 53:53/udp # DNS
      - ${PIHOLE_PORT_80}:80 # Web GUI HTTP
      - ${PIHOLE_PORT_443}:443 # Web GUI HTTPS
    volumes:
      - ./pihole/etc-pihole:/etc/pihole
    secrets:
      - pihole_WebServerAPIPassword
    labels:
      <<: *default_labels
      wud.display.icon: "si:pihole"
      wud.display.name: "pihole"
networks:
  default:
secrets:
  pihole_WebServerAPIPassword:
    file: ${SECRETS_DIR}/pihole_WebServerAPIPassword.txt
