name: network_apps

############################## ANCHORS SECTION ##############################
x-default_container: &default_container
  networks: ["default"]
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped

# x-default_environment: &default_environment
#   PGID: ${DOCKER_GID}
#   PUID: ${DOCKER_UID}
#   TZ: ${TZ}

############################## SERVICES SECTION ##############################
services:

  pihole:
    <<: *default_container
    image: ghcr.io/pi-hole/pihole:latest
    container_name: pihole
    environment:
      # Config located at /etc/pihole/pihole.toml
      PIHOLE_GID: ${DOCKER_GID}
      PIHOLE_UID: ${DOCKER_UID}
      TZ: ${TZ}
      WEBPASSWORD_FILE: /run/secrets/pihole_WebServerAPIPassword
      FTLCONF_dns_listeningMode: all
    ports:
      - 53:53/tcp # DNS
      - 53:53/udp # DNS
      - ${PIHOLE_PORT_80}:80 # Web GUI HTTP
      - ${PIHOLE_PORT_443}:443 # Web GUI HTTPS
    volumes:
      - ${DOCKER_DIR}/network_apps/pihole/etc-pihole:/etc/pihole
    security_opt: ["no-new-privileges:false"]
    secrets:
      - pihole_WebServerAPIPassword

############################## NETWORKS SECTION ##############################
networks:
  default:

############################## SECRETS SECTION ##############################
secrets:
  pihole_WebServerAPIPassword:
    file: ${SECRETS_DIR}/pihole_WebServerAPIPassword.txt
