name: network_apps

x-default_container: &default_container
  restart: unless-stopped
x-default_labels: &default_labels
  wud.tag.include: "^latest$"
  wud.watch.digest: "true"

services:
  authentik_database:
    <<: *default_container
    image: docker.io/library/postgres:16-alpine
    container_name: authentik_database
    environment:
      POSTGRES_DB: authentik
      POSTGRES_PASSWORD: file:///run/secrets/authentik_DatabasePass
      POSTGRES_USER: authentik
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s
    networks:
      - authentiknet
    volumes:
      - ./authentik/database:/var/lib/postgresql/data
    secrets:
      - authentik_DatabasePass
    labels:
      wud.watch: false

  authentik_server:
    <<: *default_container
    image: ghcr.io/goauthentik/server:2025.10.2
    container_name: authentik_server
    command: server
    depends_on:
      authentik_database:
        condition: service_healthy
    environment:
      AUTHENTIK_POSTGRESQL__HOST: authentik_database
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/authentik_DatabasePass
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_SECRET_KEY: file:///run/secrets/authentik_SecretKey
    networks:
      - default
      - authentiknet
    ports:
      - ${AUTHENTIK_PORT_9000}:9000
      - ${AUTHENTIK_PORT_9443}:9443
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./authentik/media:/media
      - ./authentik/custom-templates:/templates
    secrets:
      - authentik_DatabasePass
      - authentik_SecretKey
    labels:
      wud.watch: false

  authentik_worker:
    <<: *default_container
    image: ghcr.io/goauthentik/server:2025.10.2
    container_name: authentik_worker
    command: worker
    depends_on:
      authentik_database:
        condition: service_healthy
    environment:
      AUTHENTIK_POSTGRESQL__HOST: authentik_database
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: file:///run/secrets/authentik_DatabasePass
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_SECRET_KEY: file:///run/secrets/authentik_SecretKey
    networks:
      - authentiknet
      - container_management_proxynet
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./authentik/media:/media
      - ./authentik/certs:/certs
      - ./authentik/custom-templates:/templates
    secrets:
      - authentik_DatabasePass
      - authentik_SecretKey
    labels:
      wud.watch: false

  pihole:
    <<: *default_container
    image: pihole/pihole:latest
    container_name: pihole
    environment:
      # Config located at /etc/pihole/pihole.toml
      PIHOLE_GID: ${DOCKER_GID}
      PIHOLE_UID: ${DOCKER_UID}
      TZ: ${TZ}
      WEBPASSWORD_FILE: /run/secrets/pihole_WebServerAPIPassword
      FTLCONF_dns_listeningMode: all
    ports:
      - 53:53/tcp # DNS
      - 53:53/udp # DNS
      - ${PIHOLE_PORT_80}:80 # Web GUI HTTP
      - ${PIHOLE_PORT_443}:443 # Web GUI HTTPS
    volumes:
      - ./pihole/etc-pihole:/etc/pihole
    secrets:
      - pihole_WebServerAPIPassword
    labels:
      <<: *default_labels
      wud.display.icon: "si:pihole"
      wud.display.name: "pihole"

networks:
  default:
  authentiknet:
    internal: true
  container_management_proxynet:
    external: true

secrets:
  authentik_DatabasePass:
    file: ${SECRETS_DIR}/authentik_DatabasePass.txt
  authentik_SecretKey:
    file: ${SECRETS_DIR}/authentik_SecretKey.txt
  pihole_WebServerAPIPassword:
    file: ${SECRETS_DIR}/pihole_WebServerAPIPassword.txt
