name: container_management
x-default_container: &default_container
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped
x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}
x-default_labels: &default_labels
  wud.tag.include: "^latest$"
  wud.watch.digest: "true"
services:
  portainer:
    <<: *default_container
    image: portainer/portainer-ce:latest
    command: -H tcp://socket-proxy:2375
    container_name: portainer
    depends_on:
      - socket-proxy
    environment:
      <<: *default_environment
    networks:
      - default
      - proxynet
    ports:
      - ${PORTAINER_PORT_9000}:9000 # Web GUI HTTP
    volumes:
      - ./portainer:/data
    labels:
      <<: *default_labels
      wud.display.icon: "si:portainer"
      wud.display.name: "portainer"
  socket-proxy:
    <<: *default_container
    image: ghcr.io/linuxserver/socket-proxy:latest
    container_name: socket-proxy
    environment:
      TZ: ${TZ}
      ALLOW_START: "1"
      ALLOW_STOP: "1"
      ALLOW_RESTARTS: "1"
      CONTAINERS: "1"
      IMAGES: "1"
      INFO: "1"
      NETWORKS: "1"
      POST: "1"
      SERVICES: "1"
      TASKS: "1"
      VOLUMES: "1"
    networks:
      - proxynet
    read_only: true
    tmpfs:
      - /run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      <<: *default_labels
      wud.display.name: "socket-proxy"
      wud.trigger.exclude: "docker.update" # Prevents WUD from updating it, update manually
  wud:
    <<: *default_container
    image: getwud/wud:latest
    container_name: wud
    depends_on:
      - socket-proxy
    environment:
      TZ: ${TZ}
      DOCKER_HOST: "tcp://socket-proxy:2375"
      WUD_AUTH_BASIC_MY_USER__FILE: /run/secrets/common_Username
      WUD_AUTH_BASIC_MY_HASH__FILE: /run/secrets/wud_AuthBasicMyHash
      WUD_WATCHER_LOCAL_CRON: "0 3 * * *"
      WUD_WATCHER_LOCAL_WATCHALL: true
      WUD_WATCHER_LOCAL_WATCHBYDEFAULT: true
      WUD_TRIGGER_DOCKER_UPDATE_PRUNE: true
      WUD_TRIGGER_SMTP_GMAIL_HOST: "smtp.gmail.com"
      WUD_TRIGGER_SMTP_GMAIL_PORT: "465"
      WUD_TRIGGER_SMTP_GMAIL_USER__FILE: /run/secrets/common_EmailAddress
      WUD_TRIGGER_SMTP_GMAIL_PASS__FILE: /run/secrets/wud_TriggerSMTPPassword
      WUD_TRIGGER_SMTP_GMAIL_FROM__FILE: /run/secrets/common_EmailAddress
      WUD_TRIGGER_SMTP_GMAIL_TO__FILE: /run/secrets/common_EmailAddress
      WUD_TRIGGER_SMTP_GMAIL_TLS_ENABLED: true 
    networks:
      - default
      - proxynet
    ports:
      - ${WUD_PORT_3000}:3000 # Web GUI HTTP
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./wud:/store
    secrets:
      - common_Username
      - wud_AuthBasicMyHash
      - common_EmailAddress
      - wud_TriggerSMTPPassword
    labels:
      <<: *default_labels
      wud.display.name: "wud"
      wud.trigger.exclude: "docker.update" # Prevents WUD from updating itself, update manually
networks:
  default:
  proxynet:
    internal: true
secrets:
  common_Username:
    file: ${SECRETS_DIR}/common_Username.txt
  wud_AuthBasicMyHash:
    file: ${SECRETS_DIR}/wud_AuthBasicMyHash.txt
  common_EmailAddress:
    file: ${SECRETS_DIR}/common_EmailAddress.txt
  wud_TriggerSMTPPassword:
    file: ${SECRETS_DIR}/wud_TriggerSMTPPassword.txt
