name: container_management

x-default_container: &default_container
  networks: ["default"]
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped
x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}
x-default_labels: &default_labels
  wud.tag.include: "^latest$"
  wud.watch.digest: "true"

services:
  portainer:
    <<: *default_container
    image: portainer/portainer-ce:latest
    command: -H tcp://socket-proxy:2375
    container_name: portainer
    environment:
      <<: *default_environment
    networks:
      - default
      - socket_internal
    ports:
      - ${PORTAINER_PORT_9000}:9000 # Web GUI HTTP
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./portainer:/data
    labels:
      <<: *default_labels
      wud.display.icon: "si:portainer"
      wud.display.name: "portainer"

  socket-proxy:
    <<: *default_container
    image: ghcr.io/linuxserver/socket-proxy:latest
    container_name: socket-proxy
    environment:
      TZ: ${TZ}
      # API access controls (1 to grant, 0 to revoke)
      ALLOW_START: "1" # This option will work even if POST=0
      ALLOW_STOP: "1" # This option will work even if POST=0
      ALLOW_RESTARTS: "1" # This option will work even if POST=0
      CONTAINERS: "1" # Allow listing and managing containers (essential for Portainer)
      IMAGES: "1" # Allow listing images
      INFO: "1" # Allow access to Docker daemon information
      NETWORKS: "1" # Allow listing networks
      POST: "1" # When set to 0, only GET and HEAD operations are allowed, making API access read-only
      SERVICES: "1" # Allow listing and managing services (for Swarm mode)
      TASKS: "1"
      VOLUMES: "1" # Allow listing volumes
    networks:
      - socket_internal
    read_only: true
    tmpfs:
      - /run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      <<: *default_labels
      wud.display.name: "socket-proxy"
      wud.trigger.exclude: "docker.update" # Prevents WUD from updating it, manually clean and rebuild project

  wud:
    <<: *default_container
    image: ghcr.io/getwud/wud:latest
    container_name: wud
    environment:
      TZ: ${TZ}
      DOCKER_HOST: "tcp://socket-proxy:2375"
      # Basic Authentication https://getwud.github.io/wud/#/configuration/authentications/basic/
      WUD_AUTH_BASIC_MY_USER__FILE: /run/secrets/common_Username
      WUD_AUTH_BASIC_MY_HASH__FILE: /run/secrets/wud_AuthBasicMyHash
      # Openid Connect Authentication https://getwud.github.io/wud/#/configuration/authentications/oidc/?id=openid-connect-authentication
      WUD_AUTH_OIDC_AUTHENTIK_CLIENTID__FILE: /run/secrets/authentik_WUDClientID
      WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET__FILE: /run/secrets/authentik_WUDClientSecret
      WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY: "https://authentik.${HOST_DSM_PUBLIC_DNS_SUFFIX}/application/o/wud/.well-known/openid-configuration"
      WUD_AUTH_OIDC_AUTHENTIK_REDIRECT: true # optional (to skip internal login page)
      # Watchers https://getwud.github.io/wud/#/configuration/watchers/
      WUD_WATCHER_LOCAL_CRON: "0 */8 * * *"
      WUD_WATCHER_LOCAL_WATCHALL: true
      # Docker Triggers https://getwud.github.io/wud/#/configuration/triggers/docker/
      WUD_TRIGGER_DOCKER_UPDATE_PRUNE: true
      WUD_TRIGGER_DOCKER_DOWNLOAD_DRYRUN: true # Downloads new images, needed for socket-proxy and wud
      # Gotify Triggers https://getwud.github.io/wud/#/configuration/triggers/gotify/
      WUD_TRIGGER_GOTIFY_LOCAL_URL: "https://gotify.${HOST_DSM_PUBLIC_DNS_SUFFIX}"
      WUD_TRIGGER_GOTIFY_LOCAL_TOKEN__FILE: /run/secrets/gotify_wudToken
      # SMTP Triggers https://getwud.github.io/wud/#/configuration/triggers/smtp/
      WUD_TRIGGER_SMTP_GMAIL_AUTO: false # setting to false and leaving gotify as true
      WUD_TRIGGER_SMTP_GMAIL_HOST: "smtp.gmail.com"
      WUD_TRIGGER_SMTP_GMAIL_PORT: "465"
      WUD_TRIGGER_SMTP_GMAIL_USER__FILE: /run/secrets/common_EmailAddress
      WUD_TRIGGER_SMTP_GMAIL_PASS__FILE: /run/secrets/wud_TriggerSMTPPassword
      WUD_TRIGGER_SMTP_GMAIL_FROM__FILE: /run/secrets/common_EmailAddress
      WUD_TRIGGER_SMTP_GMAIL_TO__FILE: /run/secrets/common_EmailAddress
      WUD_TRIGGER_SMTP_GMAIL_TLS_ENABLED: true
    networks:
      - default
      - socket_internal
    ports:
      - ${WUD_PORT_3000}:3000 # Web GUI HTTP
    user: ${DOCKER_UID}:${DOCKER_GID}
    volumes:
      - ./wud:/store
    secrets:
      - common_Username
      - wud_AuthBasicMyHash
      - common_EmailAddress
      - wud_TriggerSMTPPassword
      - authentik_WUDClientID
      - authentik_WUDClientSecret
      - gotify_wudToken
    labels:
      <<: *default_labels
      wud.display.name: "wud"
      wud.trigger.exclude: "docker.update" # Prevents WUD from updating itself, manually clean and rebuild project

networks:
  default:
  socket_internal:
    internal: true

secrets:
  common_Username:
    file: ${SECRETS_DIR}/common_Username.txt
  wud_AuthBasicMyHash:
    file: ${SECRETS_DIR}/wud_AuthBasicMyHash.txt
  common_EmailAddress:
    file: ${SECRETS_DIR}/common_EmailAddress.txt
  wud_TriggerSMTPPassword:
    file: ${SECRETS_DIR}/wud_TriggerSMTPPassword.txt
  authentik_WUDClientID:
    file: ${SECRETS_DIR}/authentik_WUDClientID.txt
  authentik_WUDClientSecret:
    file: ${SECRETS_DIR}/authentik_WUDClientSecret.txt
  gotify_wudToken:
    file: ${SECRETS_DIR}/gotify_wudToken.txt
