name: container_management
x-default_container: &default_container
  security_opt: ['no-new-privileges:true']
  restart: unless-stopped
x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}
services:
  portainer:
    <<: *default_container
    image: portainer/portainer-ce:latest
    command: -H tcp://socket-proxy:2375
    container_name: portainer
    depends_on:
      - socket-proxy
    environment:
      <<: *default_environment
    networks:
      - default
      - proxynet
    ports:
      - ${PORTAINER_PORT_9000}:9000 # Web GUI HTTP
    volumes:
      - ./portainer:/data
    labels:
      wud.tag.include: "latest"
      wud.watch.digest: true
  socket-proxy:
    <<: *default_container
    image: ghcr.io/linuxserver/socket-proxy:latest
    container_name: socket-proxy
    environment:
      ALLOW_START: "1"
      ALLOW_STOP: "1"
      ALLOW_RESTARTS: "1"
      CONTAINERS: "1"
      IMAGES: "1"
      INFO: "1"
      NETWORKS: "1"
      POST: "1"
      SERVICES: "1"
      TASKS: "1"
      VOLUMES: "1"
    networks:
      - proxynet
    read_only: true
    tmpfs:
      - /run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      # com.centurylinklabs.watchtower.monitor-only: true
      wud.tag.include: "latest"
      wud.trigger.exclude: "docker.update"
      wud.watch.digest: true
  # watchtower:
  #   <<: *default_container
  #   image: containrrr/watchtower:latest
  #   container_name: watchtower
  #   depends_on:
  #     - socket-proxy
  #   environment:
  #     TZ: ${TZ}
  #     WATCHTOWER_SCHEDULE: "0 0 3 * * *"
  #     WATCHTOWER_CLEANUP: true
  #     DOCKER_HOST: "tcp://socket-proxy:2375"
  #   networks:
  #     - default
  #     - proxynet
  #   read_only: true
  #   working_dir: /
  #   labels:
    #     com.centurylinklabs.watchtower: true
  wud:
    <<: *default_container
    image: getwud/wud:latest
    container_name: wud
    depends_on:
      - socket-proxy
    environment:
      TZ: ${TZ}
      DOCKER_HOST: "tcp://socket-proxy:2375"
      WUD_AUTH_BASIC_MY_USER__FILE: /run/secrets/wud_WUDAuthBasicMyUser
      WUD_AUTH_BASIC_MY_HASH__FILE: /run/secrets/wud_WUDAuthBasicMyHash
      WUD_WATCHER_LOCAL_CRON: "0 3 * * *"
      WUD_WATCHER_LOCAL_WATCHALL: true
      WUD_WATCHER_LOCAL_WATCHBYDEFAULT: true
      WUD_TRIGGER_DOCKER_UPDATE_PRUNE: true
      WUD_TRIGGER_SMTP_GMAIL_HOST: "smtp.gmail.com"
      WUD_TRIGGER_SMTP_GMAIL_PORT: "465"
      WUD_TRIGGER_SMTP_GMAIL_USER__FILE: /run/secrets/wud_WUDTriggerSMTPEmail
      WUD_TRIGGER_SMTP_GMAIL_PASS__FILE: /run/secrets/wud_WUDTriggerSMTPPass
      WUD_TRIGGER_SMTP_GMAIL_FROM__FILE: /run/secrets/wud_WUDTriggerSMTPEmail
      WUD_TRIGGER_SMTP_GMAIL_TO__FILE: /run/secrets/wud_WUDTriggerSMTPEmail
      WUD_TRIGGER_SMTP_GMAIL_TLS_ENABLED: true 
    networks:
      - default
      - proxynet
    ports:
      - ${WUD_PORT_3000}:3000 # Web GUI HTTP
    read_only: true
    volumes:
      - ./wud:/store
    secrets:
      - wud_WUDAuthBasicMyUser
      - wud_WUDAuthBasicMyHash
      - wud_WUDTriggerSMTPEmail
      - wud_WUDTriggerSMTPPass
    labels:
      wud.tag.include: "latest"
      wud.trigger.exclude: "docker.update"
      wud.watch.digest: true
networks:
  default:
  proxynet:
    internal: true
secrets:
  wud_WUDAuthBasicMyUser:
    file: ./secrets/wud_WUDAuthBasicMyUser.txt
  wud_WUDAuthBasicMyHash:
    file: ./secrets/wud_WUDAuthBasicMyHash.txt
  wud_WUDTriggerSMTPEmail:
    file: ./secrets/wud_WUDTriggerSMTPEmail.txt
  wud_WUDTriggerSMTPPass:
    file: ./secrets/wud_WUDTriggerSMTPPass.txt
