name: container_management

############################## ANCHORS SECTION ##############################
x-default_container: &default_container
  networks: ["default"]
  security_opt: ["no-new-privileges:true"]
  restart: unless-stopped

x-default_environment: &default_environment
  PGID: ${DOCKER_GID}
  PUID: ${DOCKER_UID}
  TZ: ${TZ}

############################## SERVICES SECTION ##############################
services:

  dockhand:
    <<: *default_container
    image: fnsys/dockhand:latest
    container_name: dockhand
    environment:
      <<: *default_environment
    networks:
      - default
      - dockhand_internal
    ports:
      - ${DOCKHAND_PORT_3000}:3000
    volumes:
      - ${DOCKER_DIR}/container_management/dockhand:/app/data
      - ${DOCKER_DIR}:/external_stacks

  dockhand_socket-proxy:
    <<: *default_container
    image: ghcr.io/linuxserver/socket-proxy:latest
    container_name: dockhand_socket-proxy
    hostname: socket-proxy
    environment:
      TZ: ${TZ}
      # Required for core functionality
      CONTAINERS: "1"
      DELETE: "1"
      EVENTS: "1"
      IMAGES: "1"
      NETWORKS: "1"
      POST: "1"
      VOLUMES: "1"
      # Required for dashboard host info and disk usage
      DF: "1"
      INFO: "1"
      SYSTEM: "1"
      # Required for vulnerability scanning
      ALLOW_START: "1"
      ALLOW_STOP: "1"
      ALLOW_RESTARTS: "1"
      # Other
      EXEC: "1"
      TASKS: "1"
      SERVICES: "1"
    networks:
      - dockhand_internal
    read_only: true
    tmpfs:
      - /run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

############################## NETWORKS SECTION ##############################
networks:
  default:
  dockhand_internal:
    internal: true

############################## SECRETS SECTION ##############################
